@import url('https://fonts.google.com/specimen/Cormorant+Garamond');

* {
  font-family: 'Cormorant Garamond';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.fb-page{
 
  min-width: 50vh;
  max-width: 50vh;
 
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
}
.socialmedialogos:hover{
  transform: scale(1.1);
  transition: transform 0.2s;

}

.bg-color{
    background:
linear-gradient(135deg, rgba(51, 51, 51) 21px,rgb(80, 80, 80) 22px,rgb(80, 80, 80) 24px, transparent 24px, transparent 67px,rgb(80, 80, 80) 67px,rgb(80, 80, 80) 69px, transparent 69px),
linear-gradient(225deg, rgba(51, 51, 51) 21px,rgb(80, 80, 80) 22px,rgb(80, 80, 80) 24px, transparent 24px, transparent 67px,rgb(80, 80, 80) 67px,rgb(80, 80, 80) 69px, transparent 69px)0 64px;
background-color:rgba(51, 51, 51);
background-size: 64px 128px;
}

.btn-outline-warning {
  color:rgb(80, 80, 80) !important;
}

.titlelogostyle{
font-size: 2em;
font-weight: 800;

}

.imglogostyle{
    max-height: 14vh;
    min-height: 14vh;
    padding: 2vh;
}
.navbarStyle {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.cardTitleStyle {
  font-size: 2em;
  text-shadow: 0.5px 0.5px 0.5px black;
  
  
}

.cardpstyle {
  font-size: 1.3em;
  font-weight: lighter;
 
  
}

.navbarStyle img {
  max-height: 12vh;
}

.navbarListItems {
    
  text-decoration: none;
  font-size: 1.4em;
}

.listItems:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.navbarContainerStyle {
  display: flex;
  margin-top:1%;
  min-width:60%;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.carouselImgStyle {
  width: 70% !important;
  height: auto;
}

@media screen and (min-width: 1270px){
  .SocialMediaContainer {
    position: fixed;
    top: 50%; /* Ajusta la posición vertical según tus necesidades */
    transform: translateY(-50%); /* Centra verticalmente el contenedor */
    right: 2%; /* Ajusta la posición horizontal desde el borde derecho */
    display: flex;
    flex-direction: row;
  }
  
  .socialMediaDiv {
  margin-top:10px !important;
    
  
  }
  
  .socialmedialogos {
    width: 8vh; /* Ajusta el ancho de los íconos según tus necesidades */
    height: auto; 
    margin-top: 4vh;/* Permitirá que la altura se ajuste automáticamente manteniendo la proporción */
  }
  

}

@media screen and (min-width: 768px) and (max-width: 1270px){
    .btn-outline-warning {
        color:rgb(80, 80, 80) !important;
      }
      
      .SocialMediaContainer {
        position: fixed;
        top: 50%; /* Ajusta la posición vertical según tus necesidades */
        transform: translateY(-50%); /* Centra verticalmente el contenedor */
        right: 2%; /* Ajusta la posición horizontal desde el borde derecho */
        display: flex;
        flex-direction: row;
      }
      
      .socialMediaDiv {
      margin-top:10px !important;
        
      
      }
      
      .socialmedialogos {
        width: 8vh; /* Ajusta el ancho de los íconos según tus necesidades */
        height: auto; 
        margin-top: 4vh;/* Permitirá que la altura se ajuste automáticamente manteniendo la proporción */
      }

      .titlelogostyle{
      font-size: 2em;
      
      }
      
      .imglogostyle{
          max-height: 14vh;
          min-height: 14vh;
      }
      .navbarStyle {
        display:block;
        justify-content: center;
        align-items: center;
      }
      .navbarListItems {
        text-decoration: none;
        font-size: 1.4em;
      }
      
      .listItems:hover {
        transform: scale(1.1);
        transition: transform 0.2s;
      }
      
      .navbarContainerStyle {
        display: flex;
        padding: 1vh;
        min-width:60%;
        justify-content: space-evenly;
        align-items: center;
        list-style-type: none;
      }
      
      .cardTitleStyle {
        font-size: 2em;
       
        
      }
      
      .cardpstyle {
        font-size: 1.2em;
        
      }
      
      .navbarStyle img {
        max-height: 12vh;
      }
      
      
      
      .carouselImgStyle {
        width: 80% !important;
        height: auto;
      }
      
     
}

/* Moviles */
@media screen and (max-width: 768px) {
    .btn-outline-warning {
        color:rgb(80, 80, 80) !important;
      }
      
      .SocialMediaContainer {
      display: flex;
     
      justify-content: center;
      
      
      }
      
      
      
      .socialmedialogos {
        width: 20vh; 
        height: auto; 
       
      }

      .socialmedialogos:hover{
        transform: scale(1.1);
        transition: transform 0.2s;
      }

      .titlelogostyle{
      font-size: 2em;
      justify-content: center;
      
      }
      
      .imglogostyle{
        
          max-height: 14vh;
          min-height: 14vh;
      }
      .navbarStyle {
        min-height: 30vh;
        display:block;
    }

      .navbarContainerStyle {
        display: flex;
        flex-direction: column;
        gap: 8vh;
        padding: 10%;
        justify-content: center;
        align-items: center;
        list-style-type: none;
      }
      .navbarListItems {
        text-decoration: none;
        font-size: 1.5em;
        border:1px solidrgb(80, 80, 80);
        border-radius:10px;
        padding: 3vh;
        
     }
      
      .listItems:hover {
        transform: scale(1.1);
        transition: transform 0.2s;
      }
      
      .cardTitleStyle {
        font-size: 2em;
        
        
      }
      
      .cardpstyle {
        font-size: 1.2em;
        
      }
      
      .navbarStyle img {
        max-height: 12vh;
      }
      
      
      
      
      
      .carouselImgStyle {
        width: 100% !important;
        height: auto;
      }
      
      
    
}
